<div class="container-fluid">
    <div class="row g-3">
        <div class="col-md-6 d-flex align-items-center">
            <div class="mt-4">
                {{ form_label(form.name, null, { label_attr: { class: 'form-check-label' } }) }}
                {{ form_widget(form.name, { attr: { class: 'form-control' } }) }}
                {{ form_errors(form.name) }}
            </div>
        </div>
    </div>
</div>
