# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    secret: '%env(APP_SECRET)%'

    session:
        enabled: true # Enable session support
        handler_id: null # Use the default session handler from php.ini
        cookie_lifetime: 0 # Session cookie expires when the browser is closed
        gc_maxlifetime: 1800 # 30 minutes of inactivity before session expiration

    #esi: true
    #fragments: true

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
