@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');

* {
    margin: 0;
    padding: 0;
    outline: none !important;
}

html,
body {
    color: #898989;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: normal;
    font-weight: 300;
    overflow-x: hidden !important;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0;
    font-weight: normal;
    line-height: normal;
    color: #1f1f1f;
    margin: 0
}

h1 {
    font-size: 24px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none !important;
    opacity: 1
}

a {
    color: #898989;
    text-decoration: none;
    outline: none;
}

.full_container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.container {
    width: 1200px;
}

.center {
    display: flex;
    justify-content: center;
}

.verticle_center {
    display: flex;
    align-items: center;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.btn-success {
    color: #fff;
    background-color: #1ed085;
    border-color: #1ed085;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

button i {
    color: #fff;
}

h2 {
    font-size: 30px;
    color: #000;
    line-height: 20px;
    font-weight: 700;
    position: relative;
}

h3 {
    font-size: 24px;
    color: #000;
    line-height: normal;
    font-weight: 700;
    text-transform: uppercase;
}

h4 {
    font-size: 18px;
    color: #000;
    line-height: 21px;
    font-weight: 600;
    text-transform: none;
    margin-bottom: 15px;
}

h5 {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    line-height: normal;
    color: #000;
}

p {
    color: #58718a;
    font-size: 14px;
    line-height: 21px;
}

button,
input,
select,
textarea,
option {
    font-family: 'Poppins', sans-serif;
}

a:hover,
a:focus {
    color: grey;
    text-decoration: none;
}

.login {
    background: #eee;
}

.full_height {
    height: 100vh;
}

.login_section {
    max-width: 500px;
    background: #fff;
    min-height: 470px;
    width: 100%;
    box-shadow: 0px 0 10px -8px #000;
    margin: 0px;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
}

.logo_login {
    background: url('../images/login/login_image.jpg') no-repeat center center;
    background-size: cover;
    padding: 50px 0;
    position: relative;
}

.logo_login::after {
    content: "";
    display: block;
    width: 100%;
    height: 150px;
    position: absolute;
    background: rgba(21, 40, 60, 0.8);
    top: 0;
    left: 0;
    z-index: 1;
}

.logo_login h1 {
    position: relative;
    z-index: 2;
    color: white;
    margin: 0;
    text-align: center;
}

.logo_login div {
    position: relative;
    z-index: 1;
}

.login_form {
    padding: 50px 50px;
    float: left;
    width: 100%;
}

.login_form form {
    float: left;
    width: 100%;
}

.login_form form .field {
    display: flex;
    margin: 0;
}

.login_form form .field label.label_field {
    margin: 0 30px 0 0;
    width: 115px;
    line-height: 45px;
    text-align: right;
    height: 45px;
    font-weight: 300;
    font-size: 15px;
}

.login_form form .field {
    display: block;
    margin: 0 0 20px;
}

.login_form form .field input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #ddd 2px;
    width: 395px;
    float: right;
    padding: 10px;
    line-height: normal;
    font-weight: 300;
    transition: ease all 0.5s;
}

.login_form form .field input:hover,
.login_form form .field input:focus {
    box-shadow: none;
}

.login_form .field label.form-check-label .form-check-input {
    width: auto;
}

.hidden {
    visibility: hidden;
}

.login_form .field label.form-check-label {
    margin-left: 20px;
    position: relative;
    top: 0;
}

.forgot {
    float: right;
    margin: 11px 0;
    position: relative;
    left: 0;
    color: blue;
}

#sidebar {
    width: 250px;
    transition: width 0.3s ease;
    background-color: #212529;
}

.sidebar-logo {
    max-height: 50px;
    width: auto;
}

.sidebar-header {
    gap: 6px;
}

#main-content {
    margin-left: 250px;
    transition: margin-left 0.3s ease;
}

@media (max-width: 1100px) {
    #sidebar {
        width: 80px;
    }

    .menu-text,
    .sidebar-title,
    .sidebar-category { 
        display: none;
    }

    .sidebar-logo {
        max-height: 28px;
    }

    .nav-link {
        justify-content: center;
    }

    #main-content {
        margin-left: 80px;
    }
}

@media (max-width: 768px) {
    #sidebar {
        display: none !important;
    }

    #main-content {
        margin-left: 0;
    }
}

.offcanvas-header img {
    max-height: 32px;
    margin-right: 8px;
}
